{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Changed{% endblock title %}
{% block main-content %}
<section class="passchangednsec mt-5">
<div class="container">
  <div class="container my-5 profilesec">
    <div class="row">
        <h3 class="text-center emptycarttext">Your Password is now Changed.</h3>
        <div class="text-center mt-5 emptycartimg">
            <img src="{% static 'app/images/gif4.gif' %}" alt="" class="img-fluid w-25">
        </div>
    </div>
</div>
</div>
</section>
{% endblock main-content %}