{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}

<section class="passresetsec mt-5">
<div class="container">
  <div class="formwidth2">
   <h3>Password Reset</h3>
    {% if user.is_authenticated %}
        {% include "account/already_logged_in.html" %}
    {% endif %}
    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    <form id="password_reset" class="password_reset shadow p-5 mt-5" method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="inputEmail4" class="form-label">Email</label>
            <input id="email" name="email" placeholder="Email" type="email" class="form-control">
        </div>
        <div class="mb-3">
            <small class="text-danger">{{form.errors.email|striptags}}</small>
         </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="submit" class="passresetbtn mt-3" value="Submit">
    </form>
  </div>
</div>
</section>
{% endblock main-content %}