{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container mt-5 passresetsec">
  <div class="formwidth">

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="resetform">
                {% csrf_token %}

        <h3 class="mb-4">Reset Password</h3>
        <div class="mb-3">
            <label for="inputEmail4" class="form-label">New Password</label>
            <input type="password" name="password1" placeholder="New Password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="inputEmail4" class="form-label">Confirm New Password</label>
            <input type="password" name="password2" placeholder="Confirm New Password" class="form-control" required>
        </div>
        <div class="mb-3">
            <small class="text-danger">{{form.errors.password1|striptags}}</small>
            <small class="text-danger">{{form.errors.password2|striptags}}</small>
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center">
            <input type="submit" class="setpassbtn mt-3" value="Submit">
        </div>
    </form>
    {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock main-content %}